:root {
    --gr:gray;
    --b:black;
    --wh:white;
    --re:red;
    --pur:rgb(185, 123, 255);
}


body {
    font-family: arial;;
}


.section {
    background-color: gray;
    padding:10px 10px 10px 10px;
    margin:20px;
    width:150px;
    border:2px solid black;
    cursor:pointer;
    position:absolute;
}

input[type="text"] {
     padding:5px;
     border:1px solid black;
     cursor:pointer;
     color:var(--b);
     text-decoration: none;
     outline: none;
     border:2px solid var(--b);
     font-family: arial;
}


input[type="text"]::placeholder {
    color: var(--gr);
    font-family: arial;
    font-weight: bold;
   
}

input[type="text"]:focus {
    outline: none;
    font-family: arial;
}

input[type="submit"] {
     padding:5px;
     border:1px solid black;
     background:var(--gr);
     font-family: arial;
     color:var(--b);
     cursor: pointer;
     font-family: arial;
     font-weight: bold;
}

#title {
    animation: fadein 4s infinite;
    background-color: var(--gr);
    width:180px;
    padding:10px 10px 10px 10px;
    border:2px solid black;
    margin:20px;
}

.section:hover {
    background: var(--b);
    color: var(--wh);
}

#download {
    left:300px;
    top:150px;
}

#patch-notes {
    left:600px;
    top:150px;
}

#guide {
    left:900px;
    top:150px;
}

#about {
    top:150px;
}

form {
    margin:20px;
    padding:10px 10px 10px 10px;
    background:rgb(185, 123, 255);
    width: 250px;
    border:2px solid black;
    position :absolute;
    left:1200px;
    top:10px;

}

@keyframes fadein {
    0%,
    25% { color: var(--b); }
    50% { color: var(--re); }
    75% { color: var(--b); }
    100% { color: var(--re); }
}


#op {
    border: 2px solid var(--b);
    background-color:var(--pur);
    width:60%;
    height:950px;
    padding:5px 5px 5px 5px;
    left:17%;
    position: absolute;
}


#textbox {
    border:2px solid var(--b);
    color:var(--b);
    position: absolute;
    left:25%;
    top:320px;
    width:40%;
    height:73%;
    background-color: var(--wh);
    padding:10px 10px 10px 10px;
    font-size: 20px;
}

#sec {
    position:absolute;
    top:-18%;
}

#sl {
    color: var(--pur);
    font-weight: bold;
}

#sl_legend {
    color: rgb(96, 75, 119);
    font-weight: bold;
}

#qspn {
    color: var(--gr);
    font-weight: bold;
}

#qlogo {
    width: 50%;
    height: 50%;
    margin-top: 20px;
    margin-left:150px;
}

#real {
    color:var(--re);
    font-weight:bold;
}

#loser {
    color:var(--re);
    font-weight:bold;
}

legend {
    font-weight: bold;
    color:var(--b);
}


a {
    text-decoration: none;
    background: var(--gr);
    color: var(--b);
}

a:hover {
    color:var(--wh);
    background: var(--b);
  
}


body {
    background-image: url(duelist.png);
    background-size: cover;
    background-attachment: fixed;
}

p {
    font-weight:bold;
}